#posts-index img {
  width: 300px;
}

html {
  scroll-behavior: smooth;
}
#root
{
  background-image: url(https://www.toptal.com/designers/subtlepatterns/uploads/paisley.png)
}

#signup img{
  width: 200px
}